# exclude virtual environment stuff
bin/
include/
local/
share/
lib/
lib64
pyvenv.cfg
etc/

# exclude editions folder content
editions/*

backend/projectenv


.env
.pyc

**/*.log
**/.DS_Store
**/original_data_by_municipality.csv



# exclude flask stuff
__pycache__

# exclude IDE settings
.vscode/



